.button_delete {
    float: right;
}

.container {
    margin-top: 20px;
}

.cover-image {
    width: 150px;
    height: 200px;
    border: 0;
}

.description-list {
    padding-left: 0;
    margin-left: 20px;
    line-height: 2;
    font-size: 14px;
}

.input_quantity {
    margin-left: 20px;
}


.preis {
    color: green;
    font-weight: bold;
    margin-right: 5px;
}